h2 {
    
    font-family: calibri;
}

#btn{
    
    font-family:calibri;
}
#logout{
  position: absolute;
    top: 85%;
    
  
}

#logout:link, #logout:visited {
    background-color: #9A9A9A;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
font-family:calibri;


}


#logout:hover, #logout:active {
    background-color: grey;
}

#centro {
    position: absolute;
    top: 0%;
    right: 56%;
       }
#destra {
    position: absolute;
    top: 0%;
    right: 31%;
       }
