h2 {
    
    font-family: calibri;
}

a:link, a:visited {
    background-color: #9A9A9A;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
font-family:calibri;


}


a:hover, a:active {
    background-color: grey;
}
