table {
	border-collapse: collapse;
	width: 60%;
}

th, td {
	text-align: left;
	padding: 8px;
	font-family:calibri;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th {
	background-color: #99cc00;
	color: white;
}

a:link, a:visited {
	background-color: #9A9A9A;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family:calibri;
}
a:hover, a:active {
	background-color: grey;
}
